.button {
  display: inline-block;
  padding: 17px 20px 17px 21px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

.red {
  color: var(--white);
  background-color: var(--red);

  &:hover {
    background-color: var(--red-3);
  }

  &:disabled {
    background-color: var(--gray-4);
    color: var(--white);
    cursor: auto;
  }
}

.white {
  color: var(--red);
  background-color: var(--white);
  border: 1px solid var(--red);
  padding: 16px 23px;

  &:hover {
    background: var(--red);
    color: var(--white);
  }
}
