.modal {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.25);
  opacity: 1;
}

.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 38px 35px 35px 35px;
  transform: translate(-50%, -50%);

  background-color: var(--gray);
  opacity: 1;
}

.header {
  position: relative;
  margin-bottom: 50px;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  right: -16px;

  cursor: pointer;
  border: none;
  background-color: transparent;
  background-image: url('../../../assets/img/close.svg');
  background-repeat: no-repeat;

  &:hover {
    opacity: 0.5;
  }
}

.title {
  margin: 0;
  text-align: center;
}

.form {
  position: relative;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: repeat( 3, 50px);
  grid-column-gap: 27px;
  grid-row-gap: 16px;
  margin: 0 0 33px 0;
  border: 0;
}

.label {
  position: relative;
  min-width: 300px;

  &_name {
    grid-column: 1/2;
    grid-row: 1/2;

    &::before {
      content: '*';
      position: absolute;
      top: 10px;
      left: 11px;
      width: 2px;
      height: 2px;

      color: var(--red);
    }
  }

  &_good {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  &_bad {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  &_textarea {
    grid-column: 2/3;
    grid-row: 2/4;

    &::before {
      content: '*';
      position: absolute;
      top: 10px;
      left: 11px;
      width: 2px;
      height: 2px;

      color: var(--red);
    }
  }
}

.input {
  font-size: 15px;
  width: 100%;
  padding: 17px 26px;
  border: 1px solid rgba(72, 73, 77, 0.2);

  &::placeholder {
    font-size: 14px;
    line-height: 19px;
    color: var(--default-color);
  }

  &:hover {
    border: 1px solid var(--default-color);
  }

  &_required {
    border: 1px solid var(--red);
  }
}

.textarea {
  width: 100%;
  padding: 14px 25px 31px 26px;
  border: 1px solid rgba(72, 73, 77, 0.2);
  font-size: 15px;
  resize: none;

  &::placeholder {
    font-size: 15px;
    line-height: 19px;
    color: var(--default-color);
  }

  &:hover {
    border: 1px solid var(--default-color);
  }

  &_required {
    border: 1px solid var(--red);
  }
}

.span {
  display: block;
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 19px;
  color: var(--red-2);
}

.stars {
  display: flex;
  flex-direction: row;
  padding-top: 11px;
}

.rating {
  margin: 0 15px 0 0;

  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: var(--black);
}

.constellation {
  letter-spacing: 3.3px;
}

.submit {
  display: block;
  margin: 0 auto;
}

.error {
  font-size: 14px;
  line-height: 19px;
  color: var(--red-2);

  &_name {
    position: absolute;
    top: -21px;
    left: 0;
  }

  &_comment {
    position: absolute;
    top:-20px;
    right: 100px;
  }
}
