*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  clip-path: inset(100%);
}

.container {
  max-width: 1215px;
  margin: 0 auto;

  @media(max-width: 930px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media(max-width: 1214px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
