:root{
  --default-font: "Open Sans", "Arial", sans-serif;

  --default-color: #48494D;
  --gray: #F5F5F9;
  --gray-2: #A4A4A6;
  --gray-3: #D7D9DF;
  --gray-4: #9B9A9A;
  --white: #FFFFFF;
  --black: #000000;
  --black-2: #1A212F;
  --red: #D12136;
  --red-2: #FF0000;
}
