.inner {
  padding: 20px 0 18px 0;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);;
}

.user {
  margin: 0 0 12px 0;

  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  overflow-wrap: anywhere;
}

.opinion {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;

  overflow-wrap: anywhere;

  font-size: 15px;
  line-height: 20px;
  color: var(--black);

  &_text {
    margin-bottom: 15px;
  }

  &_good {
    padding-left: 20px;

    &::before {
      content: '+';
      position: absolute;
      top: 0;
      left: 0;

      color: var(--red);
    }
  }

  &_bad {
    padding-left: 20px;

    &::before {
      content: '–';
      position: absolute;
      top: 0;
      left: 0;

      color: var(--red);
    }
  }
}

.title {
  margin: 0 0 5px 0;
  font-weight: 600;
}

.text {
  margin: 0;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 26px;

  font-size: 15px;
  line-height: 20px;
  color: var(--red);
}

.stars {
  line-height: 28px;
  margin-right: 20px;
}

.answer {
  display: flex;
}

.time {
  margin-right: 24px;

  font-size: 14px;
  line-height: 19px;
  color: var(--black);
  opacity: 0.4;
}

.reply {
  font-size: 16px;
  line-height: 22px;

  color: var(--red);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
