.header {
  background-color: var(--gray);
}

.inner {
  padding: 14px 0 7px 0;

  @media(max-width: 930px) {
    padding: 10px 0 5px 0;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  color: var(--default-color);
  padding-left: 4px;
}

.item {
  margin-right: 66px;

  &:last-child {
    margin-right: 0;
  }
}

.logo {
  display: block;
  flex-shrink: 0;
}

