.header {
  background-color: var(--gray);
}

.inner {
  padding: 14px 0 7px 6px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--default-color);
}

.item {
  margin-right: 68px;

  &:last-child {
    margin-right: 0;
  }
}

.logo {
  padding-right: 50px;
}

