.list {
  width: 565px;
  margin: 0;
  padding: 10px 0 140px 0;

  @media(max-width: 930px) {
    width: auto;
    padding: 30px 0 82px 0;

    font-size: 16px;
    line-height: 19px;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 19px 0 8px 0;

  border-bottom: 1px solid var(--gray-3);

  @media(max-width: 930px) {
    padding: 26px 0 9px 0;
  }
}

.description {
  @media(max-width: 930px) {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
}
