.promo {
  position: relative;

  img {
    width: 100%;
  }

  @media(max-width: 940px) {
    width: 726px;
  }
}

.label {
  position: absolute;
  padding: 7px 27px 10px 27px;

  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--red);
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.img {
  width: 128px;
  height: 80px;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 40px;

  @media(max-width: 940px) {
    padding-left: 64px;
    padding-right: 64px;
    flex-wrap: wrap;
    padding-bottom: 60px;
  }
}
